<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeWork#2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="d-grid gap-2 col-6 mx-auto">
        <div id="results"></div>
        <button id="myButton" class="btn btn-primary" type="button">Print All Students With Average Grade higher than 3</button>
        <button id="mySecondBtn" class="btn btn-primary" type="button">Print All Female Students With Average Grade of 5</button>
        <button id="myThirdBtn" class="btn btn-primary" type="button">Print All Male Students Who Lives In Skopje And Are Over 18 Years Old</button>
        <button id="myFourthBtn" class="btn btn-primary" type="button">Print All Grades Of Female Students Over The Age Of 24</button>
        <button id="myFifthBtn" class="btn btn-primary" type="button">Print All Male Students With A Name Starting With B And Average Grade Over 2</button>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="../scripts/homework2.js"></script>
</body>

</html>